﻿<div>
    <h1> 383 Phase2 GroupV</h1>
    <h5> Admin Portal Web APP</h5>
</div>

@*<head>
    <script src="~/Scripts/angular.min.js"></script>
</head>


    <div ng-app="ProductApp" ng-controller="ProductsCtrl">
        <ul>
           <li ng-repeat="x in myData">
                {{myData.Name + ','+ myData.Inventory}}
            </li>

           {{myData}}
        </ul>


    </div>


  
    <script>

        var app = angular.module('ProductApp', []);
        app.controller('ProductsCtrl', function ($scope, $http) {
            $http({
                method: "GET",
                url: "http://localhost:58198/api/Products"
            }).then(function mySucces(response) {
                $scope.myData = response.data;
            }, function myError(response) {
                $scope.myData = response.statusText;
            });


            //    .then(function (response) {
            //    $scope.myData = response.data;
            //});


        });

    </script>*@

